/***2PAGE***/
body {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

/**HEADER**/

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header img {
    width: 50%;
    margin: 20px 0 12px 0;
}

.fa-arrow-left {
    position: absolute;
    left: 6%;
    top: 20px;
    font-size: 25px;
    text-decoration: none;
    color: black;
}


/**MAIN**/
.picture img {
    width: 100%;
    position: absolute;
    top: -200px;
    right: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    height: 15rem;

}

.main {
    position: relative;
    margin-top: 200px;
    padding-top: 10px;
    padding-bottom: 50px;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 100%;
    background-color: #f2f2f2;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.titre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.titre h1 {
    margin: 20px;
    font-family: "Shrikhand", cursive;
    font-size: 1.9rem;
    font-weight: 200;
}

.fa-regular {
    position: absolute;
    top: 38px;
    right: 30px;
    font-size: 1.5em;
    opacity: 1;
    cursor: pointer;
}

.fa-solid {
    position: absolute;
    top: 38px;
    right: 30px;
    font-size: 1.5em;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to top, #FF79DA, #9356DC);
    opacity: 0;
    transition: all 200ms linear;
    transition-timing-function: ease-in-out;
}

.fa-solid:hover {
    opacity: 1;
}

.menu1 h2 {
    font-size: 1rem;
    font-weight: 300;
    margin: 0.5em 1em -1em;
    position: relative;
}

.menu1 h2::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -7px;
    width: 40px;
    height: 3px;
    background: #99e2d0;
  }

.plats {
    margin-top: 4.5rem;
    position: relative;
}

.plats h2::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -7px;
    width: 40px;
    height: 3px;
    background: #99e2d0;
  }

.desserts {
    margin-top: 5rem;
    position: relative;
}

.desserts h2::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -7px;
    width: 40px;
    height: 3px;
    background: #99e2d0;
  }

.carte {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card_card {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    margin: 12px 10px;
    padding: 13px;
    border-radius: 1rem;
    background-color: white;
    transform: translateY(30px);
    animation-fill-mode: both;
    animation-duration: 1000ms;
    animation-name: reveal;
}

.card-content {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card h3 {
    margin: 0 0 0 0.2rem;
}

.gout {
    width: 85%;
    white-space: nowrap;
    font-weight: 300;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    margin-bottom: 0;
}

.card-price {
    font-size: .9rem;
    font-weight: 700;
    margin-left: 115%;
    margin-top: -1.2rem;
    margin-bottom: 0;
}

.btn_commander {
    border-radius: 30px;
    background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    width: 60%;
    margin-top: 20%;
    margin-left: 4.5rem;
    height: 3.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.commander {
    font-family: "Roboto", sans sérif;
    color: #F0F3F4;
    text-decoration: none;
    font-size: 19px;
    cursor: pointer;
}

.btn_commander:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to bottom right, #ff93e1, #a16be0);
}

/**FOOTER**/

.backfoot {
    background-color: #353535;
    height: 250px;
    width: 100%;
}

.logfoot {
    color: white;
    font-size: 20px;
    display: flex;
    font-family: 'Shrikhand', cursive;
    font-weight: 200;

}

.logfoot h4 {
    font-weight: 400;
    margin-bottom: 5px;
    margin-left: 30px;
}

.logfoot p {
    margin-left: 10px;
}

.foot {
    color: white;
    margin-left: 30px;
}

.fa-utensils {
    margin-right: 10px;
}

.fa-handshake-angle {
    margin-right: 10px;
    font-size: 12px;
}


/**ANIMATION**/

.extension {
    height: 70px;
    position: absolute;
    right: -62px;
    width: 60px;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #99e2d0;
    display: none;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.fa-check-circle {
    font-size: 1.3rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover .extension {
    display: block;
    transform: translateX(-100%);
    animation: extension 5s 0s ease-in-out alternate-reverse;
}

.card:hover .card-price {
    transform: translateX(-55px);
    transition-timing-function: linear;
}

.card:hover .gout {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



/*****Media queries*****/

@media screen and (min-width: 1024px) {


    
    /***HEADER***/    
    
    .header img {
        margin: 30px 0 12px 0;
        width: 15%;

    }
    
    .fa-arrow-left {
        left: 2%;
        top: 36px;
       
    }

    /***MAIN***/

    .picture img {
        width: 100%;
        position: absolute;
        top: 13px;
        right: 0;
        left: 0;
        z-index: -1;
        height: 500px;
        object-fit: cover;
        margin-top: 80px;
    }
    
    .main {
        position: initial;
        margin-top: 490px;
        padding-top: 10px;
        padding-bottom: 50px;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        background-color: #f2f2f2;
        width: 90%;
        margin-left: 5%;
    }

    .titre {
        justify-content: center;
        
    }

    .titre h1 {
        font-size: 1.5rem;
        
    }



    .fa-regular {
        position: relative;
        top: 0px;
        right: 0px;
        font-size: 1.2em;
        opacity: 1;
        cursor: pointer;
    }
        
    
    .fa-solid {
        position: relative;
        top: 0px;
        right: 19px;
        font-size: 1.2em;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(to top, #FF79DA, #9356DC);
        opacity: 0;
        transition: all 200ms linear;
        transition-timing-function: ease-in-out;
    }

    .fa-solid:hover {
        opacity: 1;
    }

    .menu1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .menu1 h2 {
        margin-right: 57%;
    }

    .card {
        width: 60%;
    }

    .plats {
        margin-top: 3rem;
        margin-right: 59%;
    }

    .desserts {
        margin-top: 3rem;
        margin-right: 56%;
    }

    .btn_commander {
        width: 23%;
        margin-top: 6%;
        margin-left: 37%;
    }

    .backfoot {
        background-color: #353535;
        height: 110px;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }
    
    .logfoot {
        margin-right: 4%;
        flex-direction: row-reverse;
    
    }
    
    .logfoot h4 {
        font-weight: 400;
        margin-bottom: 0;
        margin-left: 0;
        margin-top: 55px;
        font-size: 20px;
    }
    
    .foot {
        color: white;
        margin-left: 0px;
        display: flex;
        justify-content: space-between;
        margin-right: 5%;
        margin-top: 50px;
    }

    .foot p {
        margin: 10px;
        font-size: 15px;
    }
    
}


